################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/Investimentos.Api/obj/*
/Investimentos.Api/bin/*

/Investimentos.Service/obj/*
/Investimentos.Service/bin/*

/Investimentos.Domain/obj/*
/Investimentos.Domain/bin/*

/Investimentos.Infra/obj/*
/Investimentos.Infra/bin/*

/Investimentos.Tests/obj/*
/Investimentos.Tests/bin/*